div.messageStyle {
  color: #02bf02;
  background-color: lightgray;
  font-size: 25px;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px;
  border: 2px solid green;
  border-radius: 8px;
}

div.errorStyle {
  color: red;
  background-color: lightgray;
  font-size: 25px;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px;
  border: 2px solid red;
  border-radius: 8px;
}

p.message {
  color: #02bf02;
  font-size: 20px;
}

p.errorMessage {
  color: red;
  font-size: 20px;
}
